.backgroundIcon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  width: 1236.9px;
  object-fit: cover;
}
.relevance {
  position: absolute;
  top: 717.3px;
  left: -242px;
  font-size: 70.3px;
  font-family: var(--font-taygiacs);
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.frameChild {
  width: 64.2px;
  height: 64.2px;
  position: relative;
}
.logoIcon {
  height: 111.2px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: contain;
}
.logoWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 11px 0 0;
}
.frameParent {
  position: absolute;
  top: 589.4px;
  left: 1290.4px;
  width: 107.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 14.9px;
}
.crafting {
  position: absolute;
  top: 717.3px;
  left: -150.8px;
  font-size: 69.8px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  z-index: 1;
}
.scrollDown1 {
  align-self: stretch;
  height: 18px;
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.scrollDownWrapper {
  width: 88px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 9px 0 0;
  box-sizing: border-box;
}
.scrollDownChild {
  height: 36px;
  width: 210px;
  position: relative;
}
.scrollDown {
  position: absolute;
  top: 885px;
  left: 119px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.becomeOurClient {
  text-decoration: none;
  align-self: stretch;
  flex: 1;
  position: relative;
  text-transform: lowercase;
  font-weight: 500;
  color: inherit;
}
.animation,
.cta {
  background-color: var(--color-gray);
}
.cta {
  position: absolute;
  top: 29.6px;
  left: 1547px;
  border-radius: 25px;
  width: 179px;
  height: 38px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 20px;
  box-sizing: border-box;
  white-space: nowrap;
}
.animation {
  width: 1440px;
  height: 810px;
  max-width: 100%;
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 767px) {
  .crafting,
  .relevance {
    font-size: var(--font-size-37xl);
  }
}
@media screen and (max-width: 450px) {
  .crafting,
  .relevance {
    font-size: var(--font-size-23xl);
  }
}
